.courseHeader {
	display: flex;
}

.courseHeader img {
	object-fit: contain;
}

.courseHeader h1 {
	font-weight: bold;
	font-size: 22px;
	margin-left: 20px;
	align-self: center;
}

.courseTitle {
	display: flex;
	position: relative;
	margin: 10px 0;
}

.courseTitle h2 {
	font-weight: bold;
	font-size: 25px;
	text-transform: uppercase;
	position: absolute;
	align-self: center;
	top: 30%;
	left: 40px;
}

.aboutTitle h2 {
	font-weight: bold;
	font-size: 35px;

	text-transform: uppercase;
	width: 100%;
	margin: 20px 0 30px 20px;
	z-index: 900;
}

.field {
	display: flex;
	margin-bottom: 10px;
	font-size: 18px;
}

.fieldTitle {
	font-weight: bold;
	font-size: 18px;
	margin-right: 30px;
}

.fieldImages {
	display: flex;
	margin-bottom: 10px;
	margin-top: 10px;
	list-style-type: none;
	flex-wrap: wrap;
	justify-content: space-around;
}

.fieldImages img:hover {
	box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.5);
}
